/* Reset */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-weight: 700;
}

/* Common */

.flex {
    display: flex;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-wrap: wrap;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex-center-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.flex-no-center {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.content-padding {
    padding: 1.5vh;
}

.margin {
    margin: 3vh 0;
}

h1 {
    font-size: 5vh;
}

h2 {
    font-size: 4vh;
}

h3 {
    font-size: 3vh;
}

h4 {
    font-size: 2vh;
}

p {
    padding: 1rem 0;
}

img {
    width: 100%;
}

.border-radius {
    border-radius: 20px;
}

i {
    color: #0084fd;
}

.clear-fix::after {
    display: table;
    content: " ";
    clear: both;
}

/* Header */

header {
    background-color: #0084fd;
    padding: 2rem;
    margin-bottom: 1rem;
    color: white;
}

/* Main */

.container {
    width: 95%;
    margin: 0 auto;
}

.double-sec {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #b5ddff;
    padding: 1rem;
}


.section {
    width: 100%;
    margin-top: 1rem;
    background-color: #b5ddff;
    margin-bottom: 1rem;
    padding: 1rem;
}

.double-sec h3 {
    color: #0084fd;
}

.section h3 {
    color: #0084fd;
}

.section p {
    color: #74777a;
}

.double-sec p {
    color: #74777a;
}

.inside-sec {
    width: 100%;
}

.bg-purple {
    background-color: #9792e4;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.bg-purple h3,
.bg-purple h2,
.bg-purple h4 {
    color: white;
    padding: 1rem 0;
}



.big-sec {
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    color: white;
}

.bg-purple p {
    color: white;
}

.bg-white {
    background-color: white;
    color: black;
}

.bg-white p,
.bg-white h3 {
    color: black;
}

.testimonial {
    padding-top: 1rem;
    text-align: center;
    width: 100%;
}

.testimonial h3 {
    color: #9792e4;
}

.id-card img {
    border-radius: 50%;
    max-width: 200px;
}


.id-card {
    width: 100%;
    background-color: #9792e4;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: white;
}

.sec50 {
    background-color: white;
    color: #74777a;
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
}

.sec50 h2,
.sec50 h3 {
    color: #9792e4;
}

.sec50 p {
    color: #74777a;
}

.color-purple {
    color: #9792e4;
}

.link-profile {
    float: right;
    width: 100%;
    margin: 1rem 0;
}

.clear-fix h2 {
    margin-top: 2rem;
}

.link-profile img {
    border-radius: 50%;
}

.link-profile h2 {
    display: inline-block;
    height: 35px;
    line-height: 35px;
}

footer {
    background-color: #222;
    width: 100%;
    color: white;
    margin-top: 1rem;
    padding: 1rem 0;
}

@media screen and (min-width: 600px) {
    .double-sec {
        width: calc((100% / 3) * 2 - 0.5rem);
    }

    .section {
        width: calc((100% / 3) - 1rem);
    }

    .sec50 {
        width: calc(50% - 1rem);
    }

    .id-card img {
        float: left;
    }

    .link-profile {
        width: 30%;
    }

    .p-left {
        width: 67%;
    }

    .get-started {
        width: 100%;
        padding: 1rem 0;
    }
}

@media screen and (min-width: 1100px) {

    .container {
        max-width: 1100px;
        margin: 0 auto;
    }

    .inside-sec {
        width: 50%;
    }

    .big-sec {
        width: calc(50% - 0.5rem);
    }


    .sec50 {
        width: calc(33% - 1rem);
    }

    .link-profile {
        width: 30%;
    }

}